<div layout="row" class="main-container">
    <md-sidenav
            class="md-sidenav-left md-primary"
            md-component-id="archerMainNav"
            md-disable-backdrop
            md-whiteframe="4">
        <div layout="row" class="sidenav-header">
            <span flex></span>
            <md-button ng-click="sidenavClose()" md-theme="redInv" class="md-icon-button launch md-primary md-hue-3" aria-label="Close navigation drawer">
                <md-icon>arrow_back</md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-list>
            <div ng-repeat="item in navigation">
                <md-list-item class="md-primary"
                              ng-click="navigateTo(item.state)"
                              aria-label="Navigate to {{item.name}}">

                    <nav-item nav-icon="item.icon" nav-state="item.state" nav-text="item.name"></nav-item>
                </md-list-item>
            </div>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Navigation" ng-click="sidenavOpen()">
                    <md-icon md-svg-icon="/img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Archer producer</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/img/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-tabs class="md-primary md-whiteframe-4dp" md-selected="activeTabIndex" md-align-tabs="top">
            <md-tab ng-repeat="tab in tabSet" ng-click="switchTab(tab.state)" aria-label="{{tab.name}}">
                <md-tab-label>{{tab.name}}</md-tab-label>
            </md-tab>
        </md-tabs>
        <div flex="auto" ui-view layout="column"></div>

    </div>
</div>

