<section layout="row" flex>
    <md-sidenav
            class="md-sidenav-left md-primary"
            md-component-id="archerMainNav"
            md-disable-backdrop
            md-whiteframe="4">
        <div layout="row">
            <span flex></span>
            <md-button ng-click="sidenavClose()" class="md-icon-button launch">
                <md-icon>exit_to_app</md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-list>
            <div ng-repeat="item in navigation">
                <md-list-item class="md-primary"
                              ng-click="navigateTo(item.state)">

                    <nav-item nav-icon="item.icon" nav-state="item.state" nav-text="item.name"></nav-item>
                </md-list-item>
            </div>
        </md-list>
    </md-sidenav>
    <div layout="column" flex="auto">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="sidenavOpen()">
                    <md-icon md-svg-icon="/img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Archer producer</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/img/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-tabs class="md-primary md-whiteframe-4dp" md-selected="activeTabIndex" md-align-tabs="top">
            <md-tab ng-repeat="tab in tabSet" ng-click="switchTab(tab.state)">
                <md-tab-label>{{tab.name}}</md-tab-label>
            </md-tab>
        </md-tabs>
        <div flex="auto" ui-view></div>

    </div>


