<div class="month-picker-container">
    <md-button class="md-icon-button md-primary" aria-label="Previous month" ng-click="shiftMonth(-1)">
        <md-icon class="material-icons">navigate_before</md-icon>
    </md-button>
    <span class="month-picker-text md-primary">{{monthDate.month}}'{{monthDate.year}}</span>
    <md-button class="md-icon-button md-primary" aria-label="Next month" ng-click="shiftMonth(1)">
        <md-icon class="material-icons">navigate_next</md-icon>
    </md-button>
</div>