<!DOCTYPE html>
<html lang="en" ng-app="awmApp" class="dahsboard-back">
<head>
    <title ng-bind="pageTitle">LastDraft</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="/css/app.css" rel="stylesheet"/>
    <link href="/js/lib/leaflet/leaflet.css" rel="stylesheet"/>

    <!-- libs -->
    <script type="application/javascript" src="/js/lib/leaflet/leaflet.js"></script>

    <!-- app dependencies -->
    <script type="application/javascript" src="/js/lib/angular/angular.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-cookies.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-animate.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-loader.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-resource.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-sanitize.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular/angular-filter.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular-modules/ng-dialog/ngDialog.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular-modules/angular-ui-router.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular-modules/angular-storage.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular-modules/angular-simple-logger.min.js"></script>
    <script type="application/javascript" src="/js/lib/angular-modules/ui-leaflet.min.js"></script>

    <!-- basic -->
    <script type="application/javascript" src="/js/common.js"></script>

    <!-- constants -->

    <!-- controllers -->
    <script type="application/javascript" src="/js/controllers/MainCtrl.js"></script>
    <script type="application/javascript" src="/js/controllers/MapCtrl.js"></script>

    <!-- services -->

    <!-- factories -->

    <!-- filters -->

    <!-- directives -->

</head>
<body id="main-ui-view">

    <div ui-view id="level1-view"></div>

</body>
</html>
